<br><br><br>
<div class="container">
  <div class="row">    
    <div class="col-md-12">       
      <div class="panel">
        <div class="panel-body">
           
          <!--/stories-->
						<h1>Missões</h1>
						<p>Realize as missões, assista aulas e resolva exercícios para ganhar experiência e ouro para seu personagem<p>
          <!--/stories-->          
          <a href="/quiz/catalog" class="btn btn-primary pull-right btnNext">Ir <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
   	</div><!--/col-12-->
  </div>
</div>
<br><br>
<div class="container">
  <div class="row">    
    <div class="col-md-12">       
      <div class="panel">
        <div class="panel-body">
           
          <!--/stories-->
						<h1>Personagem</h1>
						<p>Acesse a área do seu personagem</p>
          <!--/stories-->          
          
          <a href="/characters" class="btn btn-primary pull-right btnNext">Ir <i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
   	</div><!--/col-12-->
  </div>
</div>