<br />
<br />
<br />
<div class="col-xs-4"></div>
<div class="col-xs-4 alert alert-success text-center" role="alert">
	<h2>Acertou <%= @result %> Questões</h2>
	<h2>Ganhou <%= @xp_mult %> XP e <%= @gold_mult %> de ouro</h2>
	<br>
	<div class="btn-group">
	  <button type="button" class="btn btn-success dropdown-toggle" aria-haspopup="true">
	    Voltar
	  </button>
	</div>
</div>
<div class="col-xs-4"></div>