<h1>Quiz#catalog</h1>

<%@lessons_for_print = Lesson.all%>

<% @lessons_for_print.each do |lesson| %>
    
     <%= link_to lesson.subject, quiz_index_path(:subject => lesson.subject, :url => lesson.url ) %><br>   
      
<% end %>





