<%@lessons_for_print = Lesson.all%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">


					<% @lessons_for_print.each do |lesson| %>
						
						<!--
							<%= link_to lesson.subject, quiz_index_path(:subject => lesson.subject, :url => lesson.url ) %>
						-->
					
							
							<div class="row">    
							  <br>
							  <div class="col-md-2 col-sm-3 text-center">
							    <a class="story-title" href="<%= quiz_index_path(:subject => lesson.subject, :url => lesson.url ) %>">
								<% @done_lessons.each do |done_lesson| %>
									<%if done_lesson.Lesson_id == lesson.id%>
										<% (1..done_lesson.score).each do %>
											<span class="glyphicon glyphicon-star"></span>
										<% end %>
									<%end%>
								<% end %>
							    </a>
							  </div>
							  <div class="col-md-10 col-sm-9">
							    <h3><%= lesson.subject %></h3>
							    <a href="<%= quiz_index_path(:subject => lesson.subject, :url => lesson.url ) %>" class="btn btn-primary pull-right btnNext">Ir <i class="glyphicon glyphicon-chevron-right"></i></a>
							    <div class="row">
							      <div class="col-xs-9">
							        <!--<h4><span class="label label-default">97thfloor.com</span></h4>-->
									</div>
							      <div class="col-xs-3"></div>
							    </div>
							    <br><br>
							  </div>            
							</div>							
							<hr>

					<% end %>

				</div>
			</div>
		</div>
	</div>
</div>





