<div class="navbar navbar-inverse">
      <div class="container">
        <a class="navbar-brand text-muted" href="../main/index">Reino do Codigo</a>
          <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="../main/index">Main</a></li>
            <li><a href="../quiz/catalog">Aulas</a></li>
            <li><a href="../characters">Personagem</a></li>
            </ul>

           </div>
       </div>
</div>
